<!-- OGP Img Check -->
<!-- posts/20220101/hogehoge -->
{{ $OGPPATH := .Site.Params.image | absURL }}

{{ with .File }}
  {{ $FILEBASEDIR := path.Base (path.Dir .Path) }} <!-- hogehoge -->
  {{ $DATE := path.Base (path.Dir (path.Dir .Path)) }} <!-- 20220101 -->

  {{ if (fileExists (print "static/img/ogp/" $DATE "-" $FILEBASEDIR ".jpg")) }}
    {{ $OGPPATH = (print "img/ogp/" $DATE "-" $FILEBASEDIR ".jpg" | absURL) }}
  {{ end }}
{{ end }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />

{{/*  {{- if .Params.image }}
  <meta property="og:image" content="{{ .Params.image | absURL }}" />
{{- else if .Site.Params.image }}
  <meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
{{- end }}  */}}
<meta property="og:image" content="{{ $OGPPATH }}">

{{- if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="description" content="{{ .Description }}">
{{- else if .Site.Params.description }}
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta name="description" content="{{ .Site.Params.description }}">
{{- end }}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
{{/*  {{- if .Params.image }}
  <meta name="twitter:image" content="{{ .Params.image | absURL }}" />
{{- else if .Site.Params.image }}
  <meta name="twitter:image" content="{{ .Site.Params.image | absURL }}" />
{{- end }}  */}}
<meta name="twitter:image" content="{{ $OGPPATH }}">
<meta name="twitter:title" content="{{ .Title }}">
{{- if .Description }}
  <meta name="twitter:description" content="{{ .Description }}" />
{{- else if .Site.Params.description }}
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}